@import "h5bp.css";
@import "bootstrap.css";
@import "bootstrap-responsive.css";
@import "jquery-ui-1.8.16.custom.css";
@import "ui.jqgrid.css";

body {
    padding-bottom: 40px;
}

/* Application selection screen */

#applications_list {
    list-style: none;

}

#applications_list li {
    font-size: 18pt;
    padding: 5px;
}

.nav-tabs a {
    cursor: pointer;
}

#new_object_type_name_form {
    white-space: nowrap;
}

#new_object_type_name {
    height: 14px;
    font-size: 9pt;
    width: 75%;
    border: none;
    border-bottom: solid 1px #d3d3d3;
    padding-bottom: 2px;

}

#delete_application_confirmation_code {
    font-size: 14pt;
}

#confirmation_code {
    font-size: 14pt;
}

.fake-btn {
    cursor: pointer;
}


.footer {
    padding-bottom: 20px;
}

.footer p {
    font-size: 9pt;
    margin-bottom: 0px;
    margin-top: 0px;
}

.footer a {
    margin: 0px;
    padding: 0px;
}

.link-list {
    list-style: none;
    left-margin: -100px;
    left-padding: 0px;
}

.link-list li {
    left-margin: 0px;
    left-padding: 0px;
}