<div class="form form-horizontal">
    <div class="control-group">
        <label class="control-label">Backend</label>

        <div class="controls">
            <select id="backend_selector">
                {{#each backends}}
                <option value="{{server}}">{{title}}</option>
                {{/each}}
            </select>
            <i id="backend_status_bulb" class="light"></i>
        </div>
    </div>


</div>
