<div class="span12">
    <div class="span5">
        <h2>New Application</h2>

        <div class="form-horizontal">
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input id="application_name" type="text" placeholder="Application Name"/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea id="application_description" cols="8" rows="5" placeholder="Few word about your application"/>
                </div>

            </div>
            <button id="create_application_btn" class="btn btn-large">create</button>
        </div>
    </div>
    <div class="span5">
        <h2>Existing Applications</h2>
        <ul id="applications_list">
            {{#each items}}
            <li><a desc="{{description}}" href="#app/{{id}}/general">{{name}}</a></li>
            {{/each}}
        </ul>

    </div>

</div>
