<div class="span12">
    <div class="row-fluid">
        <div class="span2">
            <legend>Options</legend>
            <ul class="nav">
                <li><a href="#app/{{id}}/general">General Settings</a></li>
                <li><a href="#app/{{id}}/auth">Authentication</a></li>
                <li><a href="#app/{{id}}/objects">Objects</a></li>
                <li><a href="#app/{{id}}/notifications">Notifications</a></li>

            </ul>
            <legend>Plugins</legend>
            <ul class="nav">
            </ul>

        </div>

        <div class="span10" id="view"></div>

    </div>



</div>