<div class="span12">
    <div class="row-fluid">
        <h3>Application Authentication</h3>
    </div>

    <div class="row-fluid">
        <div id="auth_tabs" class="span12 tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a data-target="#users_tab" data-toggle="tab">Users</a></li>
                <!--<li><a data-target="#groups_tab" data-toggle="tab">Groups</a></li>-->
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="users_tab">

                    <table id="users"></table>
                    <div class="btn-group">
                        <button id="edit_selected_user_btn" class="btn btn-small"><i class="icon icon-edit"></i></button>
                        <button id="remove_selected_user_btn" class="btn btn-small"><i class="icon icon-minus"></i></button>
                    </div>
                    <br/>

                    <div id="user_edit_form" class="form-horizontal">
                        <h5>Id: <i id="user_id"></i></h5>
                        <div class="control-group">
                            <label class="control-label">Name</label>

                            <div class="controls">
                                <input field="user_name" type="text"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Password</label>

                            <div class="controls">
                                <input field="password" type="text"/>
                                <!--<button class="btn">generate</button>-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Resource</label>
                            <div class="controls">
                                <select id="resource_selector" field="resource"></select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Resource Id</label>
                            <div class="controls">
                                <input field="resource_id" type="text"/>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Access Token</label>

                            <div class="controls">
                                <input field="access_token" readonly="true" type="text"/>
                                <!--<button class="btn">renew</button>-->
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Groups</label>

                            <div class="controls">
                                <input field="groups" type="text"/>
                            </div>
                        </div>


                        <div class="btn-group">
                            <button id="create_user_btn" class="btn">Create</button>
                            <button id="save_user_btn" class="btn">Save</button>
                        </div>
                    </div>
                </div>

                <!--<div class="tab-pane" id="groups_tab">
                    <table id="groups"></table>
                    <div class="btn-group">
                        <button id="edit_selected_user_group_btn" class="btn btn-small"><i class="icon icon-edit"></i></button>
                        <button id="remove_selected_user_group_btn" class="btn btn-small"><i class="icon icon-minus"></i></button>
                    </div>
                    <br/>
                    <div id="user_group_edit_form" class="form-horizontal">
                        <h5>Id: <i id="user_group_id"></i></h5>
                        <div class="control-group">
                            <label class="control-label">Name</label>

                            <div class="controls">
                                <input field="name" type="text"/>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button id="create_user_group_btn" class="btn">Create</button>
                            <button id="save_user_group_btn" class="btn">Save</button>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>

    </div>

</div>