<tr>
    <td><select>
        <option>200&nbsp;(OK)</option>
    </select></td>
    <td><textarea class="span10" rows="5" cols="80"></textarea>
    </td>
    <td><i class="icon icon-ok"></i></td>
</tr>
