<div class="span12">
    <div class="row-fluid">
        <h3>General Settings</h3>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <br/>

            <div class="form form-horizontal">
                <div class="control-group">
                    <label class="control-label">Access Token</label>

                    <div class="controls">
                        <input type="text" class="input-prepend" value="{{access_token}}"/>
                        <button id="renew_access_token_btn" class="btn"><i class="icon icon-refresh"/>&nbsp;Get New
                        </button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="form form-horizontal">
                <div class="control-group">
                    <label class="control-label">Routes prefix</label>

                    <div class="controls">
                        <input type="text" id="application_routes_prefix_btn"
                               class="input-prepend" value="{{routes_prefix}}"/>
                        <button id="save_routes_prefix_btn" class="btn">Save</button>
                    </div>
                </div>
            </div>
            <br/>

            <div class="form">
                <div class="control-group">
                    <label class="control-label">Description</label>

                    <div class="controls">
                        <textarea id="application_description" rows="5" cols="10"
                                  class="input-xxlarge">{{description}}</textarea>
                    </div>
                    <button id="save_application_description_btn" class="btn">Save</button>
                </div>
            </div>
            <br/>


            <legend>Cloning Application</legend>
            <div class="form">
                <fieldset>
                <div class="control-group">
                    <label class="control-label">Clone name</label>
                    <div class="controls">
                        <input id="clone_name" type="text" value="{{name}}_clone"/>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input id="clone_instances_flag" type="checkbox" checked="checked"/> clone instances
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input id="clone_users_flag" type="checkbox" checked="checked"/> clone users
                        </label>
                    </div>
                </div>

                </fieldset>
                <button id="clone_application_btn" class="btn">Clone</button>
                <i id="cloning_error" style="color: red;"></i>
            </div>
            <br/>
            <legend>Removing Application</legend>
            <div class="form">
                <div class="control-group">
                    <label class="control-label">Enter confirmation code:&nbsp;<i id="confirmation_code">asdasd</i></label>

                    <div class="controls input-append">

                        <input class="input-small" maxlength="5" id="delete_application_confirmation_code" type="text"/>
                        <button id="delete_application_btn" class="btn btn-danger">Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>