<div class="span9">
    <div class="row-fluid">
            <h3>General Settings</h3>
    </div>
    <div class="row-fluid">
        <br/>
        <div class="form form-horizontal">
            <div class="control-group">
                <label class="control-label">Access Token</label>
                <div class="controls">
                    <input type="text" class="input-prepend" value="{{access_token}}"/>
                    <button id="renew_access_token_btn" class="btn"><i class="icon icon-refresh"/>&nbsp;Get New</button>
                </div>
            </div>
        </div>
    </div>

</div>