<div class="span9">
    <div class="row-fluid">
        <h3>Socket.Io Notification Settings</h3>
    </div>

    <div class="row-fluid">

        <div class="form">
            <legend>Proxy Function</legend>
            <div class="control-group">


                <div class="controls">
                    <textarea rows="8" style="width: 350px;"></textarea>
                    <button id="proxy_function_help_btn">?</button>
                </div>
                <button class="btn">Save</button>
            </div>

        </div>

    </div>

    <div class="row-fluid">
        <div class="form">
            <legend>Sending Notifications</legend>
            <div class="control-group">
                <label>Event name</label>
                <div class="controls">
                    <input type="text"/>
                </div>
            </div>
            <div class="control-group">
                <label>Event data</label>
                <div class="controls">
                    <textarea rows="8" style="width: 350px"></textarea>
                </div>
            </div>
            <button class="btn">Send</button>
        </div>
    </div>

</div>