<div class="span12">
    <div class="row-fluid">
        <h3>Static Routes<a target="_blank" href="#static_routes" class="wiki-link">wiki</a></h3>
    </div>

    <div class="row-fluid">
        <div class="span5">
            <table id="static_routes_tbl" ></table>
            <div class="btn-group">
                <button id="edit_selected_static_route_btn" class="btn"><i class="icon icon-edit"></i>
                </button>
                <button id="remove_selected_static_route_btn" class="btn"><i class="icon icon-minus"></i>
                </button>
            </div>
        </div>
    </div>


    <div class="row-fluid" style="margin-top: 15px;">

        <div id="static_route_edit_form" class="form span5">
            <label>Route</label>
            <input field="route" type="text" class="input-xlarge"/>
            <label>Resource</label>
            <select field="resource" id="resource_selector"></select>
            <label>Id Function</label>
            <textarea field="id_fun_code" id="id_function_code" rows="7" cols="100"
                      class="span12">
            </textarea>
            <button id="add_update_static_route_btn" class="btn">Add/Update</button>
        </div>
    </div>

</div>
